.tweet-header {
  height: 420px;
  position: sticky;
  z-index: 0;
  text-align: center;
  background-color: rebeccapurple;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
}

div h2 {
  position: unset;
  margin: 0 auto;
  margin-left: 2%;
}

.default-img {
  padding-left: 35px;
}
.tweet-bar {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 1;
}
div h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}
