.new-tweet {
  text-align: center;
  display: none;
  width: 90%;
  margin-left: 5%;
}
h2 form {
  text-align: center;
}
section .new-tweet {
  text-align: center;
}
.error-msg {
  background-color: red;
}
.write-tweet {
  display: block;
  cursor: pointer;
}

.username {
  float: left;
  margin-left: 2%;
  font-size: 1.8rem;
}

.handle {
  float: right;
}

header footer {
  border-top: 1.5px solid black;
}
.avatar {
  height: 2.9em;
}
.like,
.retweet,
.flag {
  height: 1.2em;
  float: right;
  opacity: 0;
}
.date {
  padding-right: 37%;

  margin-right: 41%;
}
article:hover .handle {
  opacity: 1;
}

article:hover .retweet {
  opacity: 1;
}
article:hover .like {
  opacity: 1;
}
article:hover .flag {
  opacity: 1;
}
.tweet-content {
  font-family: 'Source Sans Pro', 'Times New Roman', Times, serif;
  font-size: 20px;
}
