.new-tweet {
  text-align: center;
  display: none;
  width: 100%;
  max-width: 100%;

  flex-direction: column;
}
h2 form {
  text-align: center;
}
section .new-tweet {
  text-align: center;
}
.error-msg {
  background-color: rebeccapurple;
  width: 20%;
  margin: 0 auto;
  font-family: 'Bungee', sans-serif;
  color: red;
}
.write-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  cursor: pointer;
}

.username {
  font-size: 1.3rem;
  color: white;
  padding-left: 1%;
  max-width: 10%;
}

.handle {
  margin: 0 auto;
  color: white;
}

header footer {
  border-top: 1.5px solid black;
}
.avatar {
  max-width: 10%;
  background-color: black;
}
.like,
.retweet,
.flag {
  max-width: 2%;
  opacity: 0;
  float: right;
}
.date {
  padding-right: 37%;

  margin-right: 41%;
}
article:hover .handle {
  opacity: 1;
}
article:hover .like {
  opacity: 1;
}
article:hover .retweet {
  opacity: 1;
}
article:hover .flag {
  opacity: 1;
}

.tweet-content {
  font-family: 'Source Sans Pro', 'Times New Roman', Times, serif;
  font-size: 20px;
  color: white;
  display: inline-table;
}
.tweet > header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.user-info {
  display: flex;
  max-width: 100%;
}
.tweet-text {
  text-align: justify;
  word-wrap: break-word;
  margin: 0 20px;
}
.new-tweet h2 {
  color: black;
  font-family: 'Bungee', sans-serif;
}
